/* Import all of Bootstrap's CSS */
@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


.cores{
color:rgba(22, 45, 60, 0.835);
color:rgba(22, 45, 59);

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  text-rendering: optimizeLegibility;
  width: 100vw;
  background: rgba(208, 227, 244, 0.849);
  overflow-x: hidden; /* corrigir isto */
}

/* --------NAVBAR--------------------- */

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
  display: block;
  margin-left: 10vw;
  filter: drop-shadow(0px 0px 50px  #FFFFFF)  brightness(170%);
}



.navbar {
  display: flex;
  justify-content: space-between;
  background-size: cover;
  align-items: center;
  background-image: url("/public/footerBg.png");
  /* background: linear-gradient(
    0deg,
    rgba(210, 246, 246, 0.9) 100%,
    rgba(255, 255, 255, 0.9) 100%
  ); */ /*  */
/*   padding: 0vh 20px 10px; */
/*   width: 100vw; */
}

.navbar-navlinks ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-navlinks li {
  list-style: none;
} 

.navbar-navlinks li a {
  text-decoration: none;
  color: rgb(218, 216, 216);
  padding: 1rem;
  display: block;
}

.navbar-navlinks li a:hover {
  color:rgb(71, 119, 168);
}

.nav-contactos{
  margin-right: 30px;
}


.navbar-navlinks {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
}


.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.toggle-button .bar{
  height: 4px;
  width: 100%;
  background-color:rgba(208, 227, 244, 0.849);
  border-radius: 10px;
}
@media (max-width: 950px) {

  .toggle-button{
    display: flex;
  }
  .navbar-navlinks {
    display: none;
    width: 100%;
  }

  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar-navlinks ul {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  .navbar-navlinks li {
    text-align: center;
  }
  .navbar-navlinks li a {
    padding: 0.5rem 1rem;
  }

  .navbar-navlinks.active {
    display: flex;
  }

  .nav-contactos{
    margin-right: 0px;
  }
  .navbar-navlinks li a:hover {
    color: rgb(218, 216, 216);
    background-color:rgb(71, 119, 168);
    font-size: large;
  }
}

/* ---------- END NAVBAR ---------- */

/* ----------- Home ------------------*/

.homeContainer{
  width: 100%;
  margin: 15vh 0 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(22, 45, 60, 0.835);
}

.homeContainer h3{
  font-size: 2em;
  margin-right: 10vw;
  margin-left: 10vw;
  line-height: 170%;
  font-family: "Roboto";
}
 
.cardsContainer1{
  display: flex;
  width: 100vw;
}

.cardContainer2{
  width: 33vw;
  font-size: 1em;
}

.cardContainer2 h2{
  font-size: 1em;
}

.jarImg{
  width: 30vw;
  max-width: 100%;
  height: auto;
}

/* ---- Produtos Parallax efexr ---------*/
 .Produtos{
  height: 100%;
  margin: 0;
  font-size: 1rem;
  font-family:'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color:rgba(22, 45, 59, 0.836);
 }

 .productsImg1, .productsImg2, .productsImg3, .productsImg4, .productsImg5, .productsImg6, .productsImg7{
  position: relative;
  opacity: 0.70;
  background-position: 0rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
 }
 .productsImg1{
  background-image: url("/tubosDeEnsaio.jpg");
  min-height: 100vh;
  background-size: cover;
 }
 .productsImg2{
   background-image: url("/Brochura.jpg");
   min-height: 40vh;
   background-size: cover;
 }
 .productsImg3{
  background-image: url("/pigmentoPo.jpg");
  min-height: 40vh;
  background-size: cover;
 }
 .productsImg4{
  background-image: url("/curtumes.jpg");
  min-height: 40vh;
  background-size: cover;
 }
 .productsImg5{
  background-image: url("/papel-colorido.jpg");
  min-height: 40vh;
  background-size: cover;
 }

 .productsImg6{
  background-image: url("/cortica.png");
  min-height: 40vh;
  background-size: cover;
 }
 .productsImg7{
  background-image: url("/detergente-cosmetica.jpg");
  min-height: 40vh;
  background-size: cover;
 }


.section{
  text-align: center;
  padding: 50px 80px 30px;
}

.section-inicial{
  background-image: url("/public/footerBg.png");
    background-size: cover;
    color:white;
}

.section-inicial p{
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 1%;
  text-align: center;
  color:rgba(207, 224, 229, 0.851);
}
.section-dark{
  background-image: url("/public/footerBg.png");
  background-size: cover;
  color:rgba(93, 193, 224, 0.503);
}

.productsText{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  letter-spacing: 15px;
  text-transform: uppercase;
  font-size: 200%;
}

.anchor{
  color: #FFFFFF;
  font-weight: 600;
}

.productsText .border{
  background-color: rgba(22, 45, 59);
  color: white;
  text-shadow: 2px 2px 0px rgba(22, 45, 59);
  padding: 1.5%;
  font-weight:bolder
}

#transp{
  background-color: transparent;
}

.arrow{
  font-size: 200%;
}


@media (max-width: 700px){
  
  .section-inicial p{
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 10%;
  }

  .productsText{
    letter-spacing: 10px;
    font-size: 140%;
  }


}
  

/* ---- Produtos Parallax efexr--END----------*/

/*-----------------Parceiros------------------  */

header{
width: 100vw;
padding: 25vh 10vw 10vh 10vw;
}
header h1{
  font-size: 700%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section{
width: 100vw;
padding: 0 10vw;
}

.logo-container{
  display: flex;
  flex-wrap: wrap;
  border: 4px solid rgba(0, 0, 0, 0.348);
  border-radius: 20px;
  background: rgb(56,149,222);
background:linear-gradient(#141e30, #243b55);
}

.parceiros-logo{
  height: 20vh;
  margin: 5vh 15vw;
}










/* ---------------Parceiros END--------------- */


/* -------------Contactos------------------- */
#contactos{

}
#contactos h2{
  text-shadow: 2px 2px 2px  rgb(56,149,222);
  text-align: center;
  font-size: 70px;
  color: black;
  z-index: 1;
  margin-top: -30px;
}

#contactos header{
  background-image: URL("/contacto-header.jpg");
  background-size: cover;
  width: 100vw;
  max-height: 40vh;
  position: relative;
  opacity: 0.70;
  background-position: 0rem;
  background-repeat: no-repeat;
}

.maps{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.maps iframe{
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  aspect-ratio: 16/9;
  max-width: 350px;
}

.contactosTexto{
  background: rgba(255, 255, 255, 0.09);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);

  display: flex;
  justify-content: space-around;
  margin-top: 7%;
  padding: 15px;
  width:80%;
  margin-left: auto;
  margin-right: auto
}

.contactosTexto h5{
  font-size: 23px;
  font-weight: 300;
  margin-bottom: 15px;
}
.contactosTexto p{
  font-size: 13px;
  margin-bottom: 7px;
}

.contactosTextoGroup{
  white-space: pre-wrap;
}

.marginContacts{
  margin-top: 30px;
}



/* 
 */


/* -------------Contactos END------------------- */








/* ----------------- Footer --------------------*/

.footer{
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
 /*  justify-content: center; */
  align-items: center;
 /*  background-color:#162d3bd5; */
 background-image: url("/public/footerBg.png");
 background-size: cover;
  padding: 0 4%;
  padding-top: 2%;
}

.footerLinksLogo img{
  height: 25vh;
  margin-left: 100%;
}

.footerLinks{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  text-align: left;
}


.footerLinksColunasProd{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 10%;
}
.footerLinksColunasCont{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 10%;
  
}

.footerLinksColunasCont h4,
.footerLinksColunasProd h4
{
  font-size: 20px;
  line-height: 16px;
  margin-bottom: 1.6rem;
}

.footerLinksColunas p{
  font-size: 12px;
  line-height: 14px;
  margin: 0.5rem 0;
  cursor: pointer;
  
}

.footerCopyright{
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.footerCopyright p{
  font-size: 10px;
  line-height: 10px;
}


.barContainerFooter hr{
  border: 10px solid black ;
  border-radius: 5px;
}


/* ---------Message Form------------ */
.containerForm{
  min-height: 90vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(22, 45, 60, 0.835);
  /* color: #FFF; */
  /* color:rgba(22, 45, 60, 0.835);
color:rgba(22, 45, 59); */
  padding: 14px;
  border-bottom: rgba(208, 227, 244, 0.849) solid 2px;
}

.titleForm{
  margin-bottom: 50px;
  font-size: 20px;
  width: 60%;
  text-align: center;
  color: rgba(208, 227, 244, 0.849);
}

.form{
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input{
  margin-bottom: 14px;
  height: 34px;
  border-radius: 4px;
  border: 0;
  padding: 0 8px;
  background-color: rgba(208, 227, 244, 0.849);
}

.textarea{
  margin-bottom: 14px;
  border-radius: 4px;
  border: 0;
  padding: 8px;
  height: 94px;
  resize: none;
  background-color: rgba(208, 227, 244, 0.849);
}

.button{
  height: 34px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  background-color: #0fdbff;
  font-size: 18px;
  transition: background-color, transform 0.8s;
}

.button:hover{
  background-color: #0fe3ff;
  transform: scale(1.01);
}

/* ---------Message Form--END---------- */


/* media queries FOOTER */
@media  (max-width: 550px) {
  .footerLinksColunas{
      margin: 1rem 0;
  }
  .footerLinksColunasProd h4{
      font-size: 20px;
      line-height: 20px;
      margin-top: 10%;
  }
  .footerLinksColunasProd p{
      font-size: 12px;
      line-height: 15px;
  }
  .footerLinksColunasCont h4{
      font-size: 20px;
      line-height: 20px;
      margin-top: 10%;
  }
  .footerLinksColunasCont p{
      font-size: 12px;
      line-height: 15px;
  }
  .footerLinks{
    flex-direction: column;
  }

  .footerLinksLogo img{
    height: 20vh;
    margin-left: 100%;
    margin: 20px;
  }
}


/* ----------------- Footer END--------------------*/