/* Import all of Bootstrap's CSS */
@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.cores {
  color: rgba(22, 45, 60, 0.835);
  color: rgba(22, 45, 59);
  color: rgba(201, 207, 211, 0.849); /* antigo background */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  text-rendering: optimizeLegibility;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.766);
  overflow-x: hidden; 
}

/* --------NAVBAR--------------------- */

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
  display: block;
  margin-left: 10vw;
  filter: drop-shadow(0px 0px 50px #ffffff) brightness(170%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-size: cover;
  align-items: center;
  background-image: url("/footerBg.png");
  /* background: linear-gradient(
    0deg,
    rgba(210, 246, 246, 0.9) 100%,
    rgba(255, 255, 255, 0.9) 100%
  ); */ /*  */
  /*   padding: 0vh 20px 10px; */
  /*   width: 100vw; */
}

.navbar-navlinks ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-navlinks li {
  list-style: none;
}

.navbar-navlinks li a {
  text-decoration: none;
  color: rgb(218, 216, 216);
  padding: 1rem;
  display: block;
  transition: 0.3s;
}

.navItem a:hover {
  color: rgb(71, 119, 168);
  transform: translatey(2px);
}

.navbar-navlinks .active,
.navbar-navlinks .active:hover,
.navbar-navlinks .activeLink,
.navbar-navlinks .activeLink:hover,
.navbar-navlinks li:not(:first-child) a:hover {
  color: rgb(71, 119, 168);
}

.nav-contactos {
  margin-right: 30px;
}

.navbar-navlinks {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
}

.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: rgba(208, 227, 244, 0.849);
  border-radius: 10px;
}
@media (max-width: 950px) {
  .toggle-button {
    display: flex;
  }
  .navbar-navlinks {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-navlinks ul {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  .navbar-navlinks li {
    text-align: center;
  }
  .navbar-navlinks li a {
    padding: 0.5rem 1rem;
  }

  .navbar-navlinks.active {
    display: flex;
  }

  .nav-contactos {
    margin-right: 0px;
  }
  .navbar-navlinks li a:hover {
    color: rgb(218, 216, 216);
    background-color: rgb(71, 119, 168);
    font-size: large;
  }
}

/* ---------- END NAVBAR ---------- */

/* ----------- Home ------------------*/

.homeContainer {
  width: 100vw;
  /* margin: 0vh 10vw 30vh; */
  display: flex;
  /* justify-content: center;
  align-items: center; */
  background-color: rgba(213, 230, 246, 0.766); 
  position: relative;
 
  height: 100vh;
  background-image: url("/footerBg.png");
  background-size: cover; 
}

.homeContainer h3 {
  font-size: 9vw;
  font-family: "Roboto Condensed";
 /*  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  color:rgb(83, 141, 199); 

 /*  background-image: url("/public/blue-textura.jpg");
  background-size: cover; 
  color: transparent;
  -webkit-background-clip: text; */
  /*   font-weight: bold; */
}
.homeLetters {
  display: flex;
  flex-direction: column;
  padding: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.cloudImg {
  width: 20vw;
  height: max-content;
  max-width: 100%;
  position: absolute;
  top: 0;
  right: 80px;
}

.secHomeContainer {
  width: 100vw;
  height: max-content;
  background-color: rgba(255, 255, 255, 0.766);
  position: relative;
  text-align: justify;
  color: #243c4c;
  background-image: URL(/public/backgroundHOME2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.secHomeContainerContent{
  padding-left: 1vw;
  padding-right: 5vw;
  display: flex;
  flex-direction: row;
}

.secHomeContainer h4{
  font-size: 1.4vw;
  font-family: "Roboto", sans-serif;
}


.secHomeContainerContent h3{
  font-size: 1.2vw;
  margin: 10vw 0 8vw 10vw;
  margin-top: 70px;
  line-height: 30px;
  /* background-image: URL("/public/blue-textura.jpg"); */
  background-color: #ffffff;
  background-color: rgba(195, 213, 231, 0.208); 
  border-radius: 100px;
  color:#243b55;
  padding: 60px 60px 60px 60px;
  backdrop-filter: blur(3px);
  -webkit-box-shadow: 16px 20px 58px -3px rgba(36,59,85,0.44);
-moz-box-shadow: 16px 20px 58px -3px rgba(36,59,85,0.44);
box-shadow: 16px 20px 58px -3px rgba(36,59,85,0.44);
font-family: "Roboto Condensed", sans-serif;
}

.jarImg {
  position: relative;
  width: 30vw;
  bottom: -10%;
}

.iconAndText{
  display: flex;
  gap: 20px;
  align-items: center;
  align-self: center;
  /* margin-bottom: 40px; */
  text-align: left;
}

/* Home Wave Test */

Please put this CSS in your css file or html head.

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 42px;
}

.wave .shape-fill {
  fill: #283C4C;
}

/* MEDIA QUERIES HomePage */

@media (max-width:1000px){
  
  .cloudImg {
    display: none;
  }

  .homeContainer h3 {
    font-size: 15vw;
    font-family: "Roboto Condensed";
   /*  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    color:rgb(83, 141, 199); 
  }

  .secHomeContainerContent{
    flex-direction: column;
  }

  .secHomeContainerContent h3{
    font-size: 2.5vw;
    margin: 10vw 3vw 8vw 5vw;
    padding: 60px 60px 40px 60px;
  }
  
  .secHomeContainer h4{
    font-size: 3.3vw;
    font-family: "Roboto", sans-serif;
  }

  .iconAndText{
    display: flex;
    gap: 20px;
    align-items: center;
    align-self: center;
    margin-bottom: 10px;
    text-align: left;
  }


}








/* ---- Produtos Parallax efexr ---------*/
.Produtos {
  height: 100%;
  margin: 0;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: rgba(22, 45, 59, 0.836);
}

.productsImg1,
.productsImg2,
.productsImg3,
.productsImg4,
.productsImg5,
.productsImg6,
.productsImg7,
.productsImg8 {
  position: relative;
  opacity: 0.85;
  background-position: 0rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productsImg1 {
  background-image: url("/tubosDeEnsaio.jpg");
  min-height: 89vh;
  background-size: cover;
}
.productsImg2 {
  background-image: url("/Brochura.jpg");
  min-height: 40vh;
  background-size: cover;
}
.productsImg3 {
  background-image: url("/pigmentoPo.jpg");
  min-height: 40vh;
  background-size: cover;
}
.productsImg4 {
  background-image: url("/curtumes.jpg");
  min-height: 40vh;
  background-size: cover;
}
.productsImg5 {
  background-image: url("/papel-colorido.jpg");
  min-height: 40vh;
  background-size: cover;
}

.productsImg6 {
  background-image: url("/cortica.png");
  min-height: 40vh;
  background-size: cover;
}
.productsImg7 {
  background-image: url("/detergente-cosmetica.jpg");
  min-height: 40vh;
  background-size: cover;
}
.productsImg8 {
  background-image: url("/outrasIndustrias.jpg");
  min-height: 40vh;
  background-size: cover;
}

.scrollDown {
  display: block;
  position: absolute;
  bottom: 1rem;
  right: 4rem;
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.sectionP {
  text-align: center;
  padding: 3vw 5vw 3vw;
}

.section-inicial {
  background-image: url("/footerBg.png");
  background-size: cover;
  color: white;
}

.section-inicial p {
  padding-left:35%;
  padding-right: 35%;
  padding-top: 1%;
  text-align: center;
  color: rgba(207, 224, 229, 0.851);
}
.section-dark {
  background-image: url("/footerBg.png");
  background-size: cover;
  color: rgba(93, 193, 224, 0.503);
  padding: 2vw 0vw 2vw;
}

.productsText {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  letter-spacing: 13px;
  text-transform: uppercase;
  font-size: 200%;
}

.productsText .border2 {
  text-align: center;
  background-color: rgba(22, 45, 59, 0.908);
  color: white;
  text-shadow: 1.25px 1.25px 0px rgba(3, 4, 4, 0.636);
  padding: 1%;
  font-weight: bolder;
  border-radius: 10px;
}
.productsText .border3 {
  text-align: center;
  background-color: rgb(22, 45, 59);
  color: white;
  text-shadow: 1.25px 1.25px 0px rgba(3, 4, 4, 0.636);
  padding: 1.5%;
  font-weight: bolder;
  border-radius: 10px;
}

.border2:hover {
  color: #b7b8ba;
}

.arrow {
  font-size: 200%;
}

@media (max-width: 700px) {
  .section-inicial p {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 10%;
  }

  .productsText {
    letter-spacing: 10px;
    font-size: 140%;
  }
}
@media (max-width: 550px) {
  .scrollDown {
    display: none;
  }
  .sectionP {
    text-align: center;
    padding: 10vw 20vw 10vw;
  }

  .section-dark{
    padding: 2vw 0 2vw;
  }

  .productsText {
    letter-spacing: 6.5px;
    font-size: 120%;
  }
  
  .productsText .border2 {
    padding: 2%;
  }

}

/* ---- Produtos Parallax efexr--END----------*/

/* ----------------Single Produts --------------------*/

.singleProductHeader {
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.SP1 {
  background-image: URL("/Brochura.jpg");
  background-attachment: fixed;
}
.SP2 {
  background-image: URL("/curtumes.jpg");
  background-attachment: fixed;
}
.SP3 {
  background-image: URL("/pigmentoPo_small_header.jpg");
  background-attachment: fixed;
}
.SP4 {
  background-image: URL("/papel-colorido.jpg");
  background-attachment: fixed;
}
.SP5 {
  background-image: URL("/cortica.png");
  background-attachment: fixed;
}
.SP6 {
  background-image: URL("/detergente-cosmetica.jpg");
  background-attachment: fixed;
}
.SP7 {
  background-image: URL("/outrasIndustrias.jpg");
  background-attachment: fixed;
}

.singleProductHeader h1 {
  font-size: 5vw;
  font-family: "Roboto";
  letter-spacing: 15px;
  text-transform: uppercase;
  color: rgba(22, 45, 59);
}

.singleProductBody {
  background-image: url("/footerBg.png");
  background-size: cover;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardsProducts {
  background-repeat: no-repeat;
  background-size: cover;
}

.cardsProducts {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.08);
  border-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  padding: 20px;
  margin-bottom: 20px;
  color: rgba(201, 207, 211, 0.849);
  width: 60vw;
  transition: 0.5s;
  font-family: "Roboto";
}

.cardsProducts:hover {
  color: rgb(253, 253, 253);
  backdrop-filter: blur(10px);
  width: 60.5vw;
  height: max-content;
  border: 1px solid rgba(255, 255, 255, 0.203);
}

.cardsProducts h2 {
  text-align: center;
  margin-bottom: 20px;
}

.cardsProducts li {
  list-style: none;
  margin-bottom: 8px;
  font-size: 14px;
}

/*-----------------Parceiros------------------  */

header {
  width: 100vw;
  padding: 25vh 10vw 10vh 10vw;
}
header h1 {
  font-size: 700%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#parceiros {
  background-color: rgba(255, 255, 255, 0.766);
}


#parceiros header {
  width: 100svw;
  max-height: 40vh;
  position: relative;
  background-position: 0rem;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: URL("/handshakeHeaderOp.png");
  background-size: cover;
}

#parceiros h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.2vw;
  z-index: 1;
  margin-top: -30px;
  text-align: center;
  background-color: rgba(22, 45, 59, 0.912);
  color: white;
  text-shadow: 1.25px 1.25px 0px rgba(3, 4, 4, 0.636);
  padding: 1.5%;
  border-radius: 10px;
  max-width: fit-content;
  letter-spacing: 7px;
  text-transform: uppercase;
}

section {
  width: 100vw;
  padding: 3vw 10vw;
}

.logo-container {
  background: rgba(162, 202, 225, 0.137);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  padding: 10%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  margin-bottom: 7%;
  color: rgba(22, 45, 60, 0.925);
  font-family: "Roboto";
}

.logo-container h3{
  font-size: 35px;
  letter-spacing: 7px;
  margin-bottom: 5vw;
}

.Nacionais{
  margin-top: 5vw;
}

.partnersImagesCont{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.parceiros-logo {
  max-height: 100%;
  width:250px;
  margin: 15px 15px;
  object-fit:contain;
}

/* ---------------Parceiros END--------------- */

/* -------------Contactos------------------- */
#contactos {
  background-color: rgba(255, 255, 255, 0.766);
}


#contactos header {
  width: 100svw;
  max-height: 40vh;
  position: relative;
  background-position: 0rem;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: URL("/contactosBackground.png");
  background-size: cover;
}

#contactos h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.2vw;
  z-index: 1;
  margin-top: -30px;
  text-align: center;
  background-color: rgba(22, 45, 59, 0.912);
  color: white;
  text-shadow: 1.25px 1.25px 0px rgba(3, 4, 4, 0.636);
  padding: 1.5%;
  border-radius: 10px;
  max-width: fit-content;
  letter-spacing: 7px;
  text-transform: uppercase;
}


.maps {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: rgba(22, 45, 60, 0.925);
}

.maps iframe {
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  aspect-ratio: 16/9;
  max-width: 350px;
  box-shadow: 10px 12px 10px 2px #162d3cd5;
}

.maps h5{
  font-family: "Roboto", sans-serif;
  letter-spacing: 5px;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 40px;
  text-align: center;
}


.contactosTexto {
  background: rgba(162, 202, 225, 0.137);
  border-radius: 15px;
/*   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-around;
  padding: 40px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  margin-bottom: 7%;
  color: rgba(22, 45, 60, 0.925);;
}

.contactosTexto h5 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 5px;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 40px;
  font-weight: bolder;

}
.contactosTexto p {
  font-size: 13px;
  margin-bottom: 7px;
}

.contactosTextoGroup {
  white-space: pre-wrap;
}

.marginContacts {
  margin-top: 30px;
}

@media (max-width: 550px) {
  #contactos h2 {
    font-size: 5vw;
    padding: 4%;
  }

  .contactosTexto {
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .contactosTextoGroup {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }

  #contactos header{
    background-size: auto
  }
}

/* 
 */

/* -------------Contactos END------------------- */

/* ----------------- Footer --------------------*/

.footer {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  /*  justify-content: center; */
  align-items: center;
  /*  background-color:#162d3bd5; */
  background-image: url("/footerBg.png");
  background-size: cover;
  padding: 0 4%;
  padding-top: 4%;
}

.footerLinks {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  text-align: left;
}

.footerLinksLogo img {
  height: 25vh;
}

.footerLinksColunasProd {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.footerLinksColunasCont {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.footerLinksColunasCont h4,
.footerLinksColunasProd h4 {
  font-size: 20px;
  line-height: 16px;
  margin-bottom: 1.6rem;
}

.footerLinksColunas p {
  font-size: 12px;
  line-height: 14px;
  margin: 0.5rem 0;
  cursor: pointer;
}

.footerCopyright {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.footerCopyright p {
  font-size: 10px;
  line-height: 10px;
}

.barContainerFooter hr {
  border: 10px solid black;
  border-radius: 5px;
}

/* ---------Message Form------------ */

.Formulário {
  margin-top: 6%;
}
.containerForm {
  min-height: 90vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #162d3cd5;
  padding: 14px;
  background-image: URL(/mulherPalete2.jpg);
  background-size: cover;
}

.titleForm {
  font-family: Roboto;
  margin-bottom: 50px;
  font-size: clamp(23px,2vw,27px);
  width: 60%;
  text-align: center;
  color: rgba(22, 45, 60, 0.835);
}

.form {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  font-size: 12px;
  margin-bottom: 14px;
  height: 34px;
  border-radius: 4px;
  border: 0;
  padding: 0 8px;
  background-color: rgba(208, 227, 244, 0.849);
  color: rgb(22, 45, 60);;
}

.textarea {
  margin-bottom: 14px;
  border-radius: 4px;
  border: 0;
  padding: 8px;
  height: 94px;
  resize: none;
  background-color: rgba(208, 227, 244, 0.929);
  color:rgb(22, 45, 60);
  font-size: 12px;
}

.buttonForm {
  height: 34px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  background-color: rgba(22, 45, 60, 0.904);
  backdrop-filter: blur(5px);
  font-size: 18px;
  transition: background-color, transform 0.8s;
}

.buttonForm:hover {
  background-color: rgba(34, 67, 90, 0.903);;
  transform: scale(1.02);
}


@media (max-width:600px){

  .titleForm{
    width:90%;
  }

  .containerForm{
    min-height: 70vh;
  }

}

/* ---------Message Form--END---------- */

/* media queries FOOTER */
@media (max-width: 550px) {
  .footerLinksColunas {
    margin: 1rem 0;
  }
  .footerLinksColunasProd h4 {
    font-size: 20px;
    line-height: 20px;
    margin-top: 10%;
  }
  .footerLinksColunasProd p {
    font-size: 12px;
    line-height: 15px;
  }
  .footerLinksColunasCont h4 {
    font-size: 20px;
    line-height: 20px;
    margin-top: 10%;
  }
  .footerLinksColunasCont p {
    font-size: 12px;
    line-height: 15px;
  }
  .footerLinks {
    flex-direction: column;
  }

  .footerLinksLogo img {
    height: 20vh;
    margin-left: 100%;
    margin: 20px;
  }
}

/* ----------------- Footer END--------------------*/

.scrollUpButton {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  font-size: 14px;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.399);
  backdrop-filter: blur(10px);
  color: #243b55;
}
